.carouselImage1 {
    background-image: url("car1.jpg") !important;
}

.carouselImage2 {
    background-image: url("car2.jpg") !important;
    background-size: cover;
    background-position: center;
}

.carouselImage3 {
    background-image: url("car3.jpg") !important;
    background-size: cover;
    background-position: center;
}
.bigLogo{
    width: 60%;
    height: 60%;
    -webkit-transition-property: width, height;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
    transition-duration: 2s;
}

.welcome {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
