.carouselImage1 {
    background-image: url("car1.jpg") !important;
}

.carouselImage2 {
    background-image: url("car2.jpg") !important;
}

.carouselImage3 {
    background-image: url("car3.jpg") !important;
}
