.priceListImage {
    width: 100%;
    height: auto;
}

.priceListBg {
    /* background: radial-gradient(grey, white),linear-gradient(grey,rgb(194, 194, 194)); */
    /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(47, 47, 47), black 100%); */
    width: 100%;
    margin: 0;
    height: auto;
}

.semiTransparent{
    /* opacity: 0.6; */
    
}